<a href="https://colab.research.google.com/github/KevinHoag/Exercises-INT3405E-20/blob/main/Copy_of_Copy_of_Lecture_1_Python_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python basic

## Data types, basic operation

## Int

In [ ]:
# int
x = 12
type(x)

int

In [ ]:
print('Cộng', x + 2)
print('Nhân', x * 2)
print('Mũ', x ** 2)
print('Phần dư', x % 5)

Cộng 14
Nhân 24
Mũ 144
Phần dư 2

## Float

In [ ]:
x = 2.5
print(type(x))

<class 'float'>

In [ ]:
x*12

30.0

## String

In [ ]:
# string
y = 'Today is Thursday'
type(y)

str

In [ ]:
print(y[0])     # get first character of string y
print(y[0:5])   # get first 5 character

T
Today

In [ ]:
# Broadcast data type
x = '5'
y = int(x)
print(type(x), x)
print(type(y), y)

<class 'str'> 5
<class 'int'> 5

## List (mảng)

In [ ]:
# List
arr = [1,2,3,4,5]
print(type(arr))
arr

<class 'list'>

[1, 2, 3, 4, 5]

The index of array start from 0

In [ ]:
arr[3] # Get the third element of array

4

In [ ]:
start = 1
end = 4
arr[start:end]

[2, 3, 4]

In [ ]:
arr[start:]

[2, 3, 4, 5]

In [ ]:
arr[:end]

[1, 2, 3, 4]

In [ ]:
# add element
arr.append(12)
arr

[1, 2, 3, 4, 5, 12]

### List with multiple data types

In [ ]:
arr = [123, 'abc', -12, 'def', 12.4]
arr

[123, 'abc', -12, 'def', 12.4]

In [ ]:
x = arr[3]
x

'def'

## Dictionary (key-value)

Dictionaries are used to store data values in "key:value" pairs

In [ ]:
mydict = { 'motor': 123} # key: 'motor', value: 123
mydict

{'motor': 123}

In [ ]:
# Dictionary (key-value)
mydict = {'motor': 123,
          'car': 872,
          'plane': 222}
print(type(mydict))

<class 'dict'>

In [ ]:
mydict.keys()

dict_keys(['motor', 'car', 'plane'])

In [ ]:
mydict.values() # get all values in dictionary

dict_values([123, 872, 222])

In [ ]:
mydict['motor'] # get value of dictionary with key= 'motor'

123

In [ ]:
# add new key
mydict['ship'] = 412
mydict

{'motor': 123, 'car': 872, 'plane': 222, 'ship': 412}

In [ ]:
# remove key
mydict.pop('ship')
mydict

{'motor': 123, 'car': 872, 'plane': 222}

## For, while, if

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
arr = [11,23,-5,5,1]

# Loop over list
for x in arr:
    print(x)

11
23
-5
5
1

In [ ]:
# add element to list
arr = []
for i in range(100): # The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number
    arr.append(i)
print(arr)

In [ ]:
# For with index and element of list
for idx, x in enumerate(arr):
    print('idx:', idx, 'x:', x)

idx: 0 x: 11
idx: 1 x: 23
idx: 2 x: -5
idx: 3 x: 5
idx: 4 x: 1

In [ ]:
print('mydict', mydict)

# For with dictionary
for key, value in mydict.items():
    print(key, value)

mydict {'motor': 123}
motor 123

## while

With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
# while
i = 0
while(i<5): # condition: i<5
    print(i)
    i = i+1

### Continue, break

With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
# continue
arr = [11,23,-5,5,1]
for x in arr:
    if x < 3:
        continue
    print(x)

11
23
5

With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
# break
arr = [11,23,-5,5,1]
for x in arr:
    if x < 3:
        break
    print(x)

11
23

In [ ]:
# while + break
i = 0
while(True):
    print(i)
    if i>=5:
        break
    i+=1

0
1
2
3
4
5

# Function, Class

## Function

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In Python a function is defined using the `def` keyword:

In [ ]:
def hello():
    print('Hello World !!!')

# To call a function, use the function name followed by parenthesis:
hello()
# print('x: ', x)

Hello World !!!

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with two arguments (x, y). When the function is called, we pass along a,y and calculate sum of x and y

In [ ]:
def sum(x, y):
    return x + y

sum(2,3)
sum(4,5)

9

## Class

Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

To create a class, use the keyword `class`:

**The `__init__()` Function**

To understand the meaning of classes we have to understand the built-in `__init__()` function.

All classes have a function called `__init__()`, which is always executed when the class is being initiated.

Use the `__init__()` function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [ ]:
class Linear():
    def __init__(self):
        self.weight = 10
        self.bias = 3

    def forward(self, x):
        x = x*self.weight + self.bias
        return x

In [ ]:
x = Linear()
x.forward(5)

53

The `self` parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named `self` , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [ ]:
# Class with arguments
class Linear():
    def __init__(self, weight):
        self.weight = weight
        self.bias = 3

    def forward(self, x):
        x = x*self.weight + self.bias
        return x

x = Linear(weight=5)
x.forward(5)

28

# Exercises

**Exercises 1**

Given this list arr = [12,23,5, 22,100,99]

Print out the elements that are even numbers on the screen

**Exercise 2**

Make a function using the following formula:

$$
  sigmoid(x) = \frac{1}{1+ e^{-x}}
$$

# Assignments

**Exercise 1**

In [ ]:
arr = [12,23,5, 22,100,99]
for x in arr:
  if (x % 2 == 0):
    print(x)

12
22
100

**Exercise 2**

In [ ]:
def sigmoid(x):
    return 1 / (1 + math.exp(-x))